<%- include('partials/header') %>
<head>
      <link rel='stylesheet' type='text/css' media='screen' href='css/styleslogin.css'>
</head>

<div class="main-content">
    <h1 class="text-center mt-5" style="font-size: 350%; color:#da2e2e"><strong>Perfil do Usuário</strong></h1>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 info" style="background-color: #fff4de;">
          <div class="linha-nome-data">
            <p class="nome-usuario"><strong>Nome do Usuário:</strong> <%= usuario.nome %></p>
          </div><br>
          <p class="data-nascimento-usuario"><strong>Data de Nascimento: </strong> <%= usuario.data_nascimento || usuario.dataNascimento %></p><br>
          <p class="email-usuario"><strong>Email: </strong> <%= usuario.email %></p><br>
          <p class="escolaridade-usuario"><strong>Escolaridade: </strong> <%= usuario.escolaridade %></p><br>
          <p class="nível-usuario"><strong>Nível do Usuário: </strong> <%= usuario.nivel || 'Não informado' %></p><br>
          <button class="btn btn-primary mt-3">Editar Perfil</button>
          <form action="/perfil/delete?_method=DELETE" method="POST" style="display:inline;">
              <button type="submit" class="btn btn-danger mt-3 ms-2">Excluir Conta</button>
          </form>
        </div>
      </div>
     </div>
  </div>   
<%- include('partials/footer') %>